<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="headerFragment">
        <div>
            <img th:src="@{/img/logo_top.png}">
            <nav>
                <a th:href="@{/board/main}">홈</a>
                <a th:href="@{/board/free}">자유 게시판</a>
                <a th:href="@{/board/report}">Report</a>
                <a href="#">설정</a>
                <a th:text="${userName} + '님'" class="nav-user-info"></a>
                <a th:href="@{/logout}">로그아웃</a>
            </nav>
        </div>
    </header>
</html>