<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Board Write</h1>
<form th:action="@{/board/free/modify}" th:method="put">
  <select name="categoryId">
    <option selected>카테고리</option>
    <option value="n">잡담</option>
    <option value="i">정보</option>
    <option value="q">질문</option>
  </select>
  <select name="categoryId">
    <option selected>등급</option>
    <option value="n">하</option>
    <option value="i">중</option>
    <option value="q">상</option>
  </select>
  <input type="text" name="title" placeholder="제목">
  <textarea rows="5" name="content" placeholder="내용"></textarea>
  <button type="submit">등록</button>
</form>
</body>
</html>