#spring:
#  datasource:
#    driver-class-name: ${DB_DRIVER}
#    url: ${DB_URL}
#    username: ${DB_USER}
#    password: ${DB_PASSWORD}
#    hikari:
#      minimum-idle: 1
#      maximum-pool-size: 5
#      pool-name: mysql_db
#
#  sql:
#    init:
#      encoding: utf-8
#      mode: always
#
#  config:
#    import: optional:file:.env[.properties]
#
#  jpa:
#    hibernate:
#      jdbc:
#        time-zone: Asia/Seoul
#      ddl-auto: validate
#    defer-datasource-initialization: true
#    properties:
#      hibernate:
#        format_sql: true
#        show_sql: true
#    database-platform: org.hibernate.dialect.MySQLDialect
#    database: mysql

#spring:
#  datasource:
#    driver-class-name: ${DB_DRIVER}
#    url: ${DB_URL}
#    username: ${DB_USER}
#    password: ${DB_PASSWORD}
#    hikari:
#      minimum-idle: 1
#      maximum-pool-size: 5
#      pool-name: mysql_db
#
#  sql:
#    init:
#      encoding: utf-8
#      mode: always
#
#  config:
#    import: optional:file:.env[.properties]
#
#  jpa:
#    hibernate:
#      jdbc:
#        time-zone: Asia/Seoul
#      ddl-auto: validate
#    defer-datasource-initialization: true
#    properties:
#      hibernate:
#        format_sql: true
#        show_sql: true
#    database-platform: org.hibernate.dialect.MySQLDialect
#    database: mysql

spring:
  application:
    name: lol-community
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:11802/lol
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  thymeleaf:
    cache: false
  data:
    redis:
      host: 127.0.0.1
      port: 6379
#  security:
#    user:
#      name: admin
#      password: 1234

#  spring.data.redis.host=127.0.0.1
#  spring.data.redis.port=6379
#  spring.data.redis.timeout=10