<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
  <th:block>
    <p><span>제목</span><span id="title-article">[[${article.title}]]</span></p>
    <p><span>작성자</span><span id="writer-article">[[${article.user.id}]]</span></p>
    <p><span>좋아요</span><span class="like-count-article">[[${article.likeCount}]]</span></p>
    <p><span>작성일시</span><span id="created-at-article">[[${article.createdAt}]]</span></p>
    <div>
      <a th:href="@{/board/update}" id="btn-modify-article"><button>수정</button></a>
      <a th:href="@{/board/delete}" id="btn-delete-article"><button>삭제</button></a>
    </div>
    <p>내용</p>
    <textarea id="content-article" readonly>[[${article.content}]]</textarea>
    <button id="btn-like-article"><span class="like-count-article">[[${article.likeCount}]]</span>좋아요</button>

    <script th:inline="javascript">
      let board_id = [[${article.id}]];

      $(document).ready(function(){

        // 글 좋아요
        $("#btn-like-article").on("click",function (){
          $.ajax({
            url: '/reaction/board/like',
            method: 'post',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
              board_id: board_id,
              user_id: 1
            }),
            success: function(result){
              console.log("글 좋아요 성공")
              $(".like-count-article").html(result);
            }
          })
        })
      })

    </script>
  </th:block>
</body>
</html>