<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
  <th:block>
    <p><span>제목</span><span id="title-article">[[${article.title}]]</span></p>
    <p><span>작성자</span><span id="writer-article">[[${article.user.id}]]</span></p>
    <button id="btn-article-like" th:class="${articleIsLike}?'article-like-cancel':'article-like'">
      <span id='count-article-like' th:text="${article.getLikeCount()}"></span>
      <img id="icon-article-like" th:src="${articleIsLike}?'/icon/thumb-up-fill.png':'/icon/thumb-up.png'">
    </button>
    <p><span>작성일시</span><span id="created-at-article" th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
    <div th:if="${article.user.id} == ${user_id}">
      <a th:href="@{/board/update}" id="btn-modify-article"><button>수정</button></a>
      <a th:href="@{/board/delete}" id="btn-delete-article"><button>삭제</button></a>
    </div>
    <p>내용</p>
    <textarea id="content-article" readonly>[[${article.content}]]</textarea>
    <button id="btn-like-article"><span class="like-count-article">[[${article.likeCount}]]</span>좋아요</button>
  </th:block>

<!--  댓글 영역 시작 -->
  <th:block id="comment-area">
    <h5>댓글</h5>
    <button id="btn-refresh">새로고침</button>
    <!--  댓글 입력-->
    <th:block>
      <form id="form-comment">
        <input type="hidden" id="input-user-id" th:value="${user_id}">
        <input type="hidden" id="input-board-id" th:value="${article.id}">
        <input type="hidden" id="input-comment-page" th:value="${commentResult.page}">
        <input id="input-comment" rows="50" type="text" placeholder="댓글을 입력하세요.">
        <button id="btn-comment-submit" type="submit">작성</button>
      </form>
    </th:block>

    <!--  모든 댓글-->
    <div id="all-comment">
      <!--  베스트 댓글-->
      <ul th:if="${commentResult.getPage() == 1}" id="best-comment">
        <li th:each="best : ${bestCommentList}">
          <div>
            <p class="comment-writer" th:text="${best.userName}"></p>
            <p class="comment-create" th:text="${#temporals.format(best.created_at, 'yyyy-MM-dd HH:mm:ss')}"></p>
            <button class="btn-like" th:attr="data-comment-id=${best.id}">
              <span>[[${best.likeCount}]]</span>
              좋아요
            </button>
          </div>
          <textarea th:text="${best.content}" readonly></textarea>
        </li>
      </ul>

      <!--  댓글 목록-->
      <ul id="comment-list">
        <li class="list-item" th:each="comment : ${commentResult.dtoList}" th:attr="data-depth=${comment.co_depth}, data-order=${comment.co_order}">
          <input class="comment-id" type="hidden" name="comment-id" th:value="${comment.id}">
          <div>
            <p class="comment-writer" th:text="${comment.userName}"></p>
            <p class="comment-create" th:text="${#temporals.format(comment.created_at, 'yyyy-MM-dd HH:mm:ss')}"></p>
            <div th:if="${user_id} == ${comment.user_id}">
              <button class="btn-modify">수정</button>
              <button class="btn-delete">삭제</button>
            </div>
            <button class="btn-reply-toggle">답글</button>
            <button th:class="${comment.getIsLike()}?'btn-like-cancel':'btn-like'" class="" th:attr="data-comment-id=${comment.id}">
              <span th:class="'count-like-' + ${comment.id}" th:text="${comment.getLikeCount()}"></span>
              <img class="icon-like" th:src="${comment.getIsLike()}?'/icon/thumb-up-fill.png':'/icon/thumb-up.png'" th:attr="isLike=${comment.getIsLike()}">
            </button>
            <textarea th:text="${comment.content}"></textarea>
          </div>
        </li>
      </ul>

      <!--  댓글 페이지 목록-->
      <ul id="comment-page-list">
        <li th:if="${commentResult.prev}">
          <button class="page-list-item" id="comment-page-prev" tabindex="-1"><</button>
        </li>

        <li th:each="page : ${commentResult.pageList}">
          <button class="comment-page-number page-list-item" th:attr="data-page=${page}" th:text="${page}"></button>
        </li>

        <li th:if="${commentResult.next}">
          <button class="page-list-item" id="comment-page-next" >></button>
        </li>
      </ul>
    </div>

    <!--  대댓글 입력 폼-->
    <div id="form-reply" style="display: none">
      <form>
        <input id="input-reply" type="text" name="reply-content" placeholder="답글을 입력하세요.">
        <button id="btn-reply-submit" type="button">등록</button>
      </form>
    </div>

    <!--  수정 입력 폼-->
    <div id="form-modify" style="display: none">
      <form>
        <input id="input-modify" type="text" name="modify-content">
        <button id="btn-modify-submit" type="button">등록</button>
      </form>
    </div>

    <script th:inline="javascript">

      var user_id = $('#input-user-id').val();
      var board_id = $('#input-board-id').val();
      var comment_page = $('#input-comment-page').val();

      $(document).ready(function(){

        // let board_id = [[${article.id}]];

        // 글 좋아요
        function addArticleLike(){
          $.ajax({
            url: '/reaction/board/like',
            method: 'post',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
              boardId: board_id,
              userId: user_id
            }),
            success: function(result){
              console.log("글 좋아요 성공" + result)
              $("#icon-article-like").attr("src", "/icon/thumb-up-fill.png");
              $("#btn-article-like").attr('class',"article-like-cancel");
              $("#count-article-like").html(result);
            }
          })
        }

        function subArticleLike(){
          $.ajax({
            url: '/reaction/board/like',
            method: 'delete',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
              boardId: board_id,
              userId: user_id
            }),
            success: function(result){
              console.log("글 좋아요 취소 성공" + result)
              $("#icon-article-like").attr("src", "/icon/thumb-up.png");
              $("#btn-article-like").attr('class',"article-like");
              $("#count-article-like").html(result);
            }
          })
        }

        $(document).on("click", ".article-like", addArticleLike);
        $(document).on("click", ".article-like-cancel", subArticleLike);

        // 댓글 등록 버튼
        $('#form-comment').submit(function(event) {
          event.preventDefault(); // 폼 기본 동작 방지
          var content = $('#input-comment').val(); // 입력된 댓글 텍스트 가져오기
          console.log(content, board_id, user_id);

          $.ajax({
            url: '/comment/write',
            method: 'POST',
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
              content: content,
              board_id: board_id,
              user_id: user_id
            }),
            success: function() {
              // 댓글 등록 성공 시, 목록 다시 불러오기
              console.log("댓글 등록 성공")
              $('#input-comment').val(''); // 입력 필드 비우기
            }
          }).done(loadComment);
        });

        //토글 입력폼 나타내기 버튼
        function displayReplyForm (){
          $('#form-reply').appendTo($(this).parent().parent()).toggle();
        }

        $(document).on('click', '.btn-reply-toggle', displayReplyForm);

        //대댓글 등록 버튼
        function writeReply(){

          var parent_id = $(this).closest('.list-item').children('.comment-id').val();
          var content = $(this).prev().val();

          console.log(parent_id + " / " + content);

          $.ajax({
            url : '/comment/write',
            method: 'post',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
              parent_id: parent_id,
              content: content,
              board_id: board_id,
              user_id: user_id
            }),
            success: function(){
              console.log("대댓글 등록 성공")
              $("#form-reply").css("display","none").appendTo("body");
              $("#input-reply").val("");
            }
          }).done(loadComment);
        }

        $(document).on('click', '#btn-reply-submit', writeReply);

        //수정 버튼
        function displayModifyForm (){
          var originalContent = $(this).parent().parent().find('textarea').val();
          console.log(originalContent);
          $('#input-modify').val(originalContent);
          $('#form-modify').appendTo($(this).parent().parent()).toggle();
        }
        $(document).on('click', '.btn-modify', displayModifyForm)

        function modifyComment(){

          var comment_id = $(this).closest('.list-item').children('.comment-id').val();
          var content = $(this).prev().val();

          console.log(comment_id + " / " + content);

          $.ajax({
            url : '/comment/update',
            method: 'put',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
              id: comment_id,
              content: content,
              user_id: user_id
            }),
            success: function(){
              console.log("댓글 수정 성공")
              $("#form-modify").css("display","none").appendTo("body");
              $("#input-modify").val("");
            }
          }).done(loadComment);
        }

        $(document).on('click', '#btn-modify-submit', modifyComment);


        // 삭제 버튼
        function deleteComment(){
          var getComment_id = $(this).parent().parent().parent().find('.comment-id').val();

          console.log(getComment_id);

          $.ajax({
            url: '/comment/delete',
            method: 'delete',
            data: {
              comment_id : getComment_id
            },
            success: function (){
              console.log("삭제 성공")
            }
          }).done(loadComment);
        }

        $(document).on('click', '.btn-delete', deleteComment);

        //새로고침
        function loadComment() {
          var loadRequestInfo = {
            board_id : board_id,
            page : comment_page
          };

          console.log(loadRequestInfo)

          $.ajax({
            url: '/comment/list',
            method: 'get',
            data: loadRequestInfo,
            success: function () {
              console.log("새로고침 성공");
            }
          })
          .done(function (fragment){
            $('#all-comment').replaceWith(fragment);
          });
        }

        // 댓글 새로고침 버튼 클릭 이벤트
        $('#btn-refresh').click(function() {
          loadComment();
        });

        function addLike (){
          var comment_id = $(this).data('comment-id');

          var likeRequest ={
            comment_id : comment_id,
            user_id : user_id
          }

          $.ajax({
            url: '/reaction/comment/like',
            method: 'post',
            data: JSON.stringify(likeRequest),
            contentType : 'application/json; charset=utf-8',
            dataType : "json",
            success: function(data){
              console.log("좋아요 성공" + data);
              $('[data-comment-id='+comment_id+']').children('.icon-like').attr("src", "/icon/thumb-up-fill.png");
              $(".count-like-"+comment_id).html(data);
              $('[data-comment-id='+comment_id+']').attr('class',"btn-like-cancel");
            }
          });
        }

        function subLike (){
          var comment_id = $(this).data('comment-id');

          var likeRequest ={
            comment_id : comment_id,
            user_id : user_id
          }

          $.ajax({
            url: '/reaction/comment/like',
            method: 'delete',
            data: JSON.stringify(likeRequest),
            contentType : 'application/json; charset=utf-8',
            dataType : "json",
            success: function(data){
              console.log("좋아요 취소 성공" + data);
              $('[data-comment-id='+comment_id+']').children('.icon-like').attr("src", "/icon/thumb-up.png");
              $(".count-like-"+comment_id).html(data);
              $('[data-comment-id='+comment_id+']').attr('class',"btn-like");
            }
          });
        }

        // .on으로 이후 추가되는 요소에도 이벤트 연결해줌
        $(document).on('click', '.btn-like', addLike);
        $(document).on('click', '.btn-like-cancel', subLike);


        function pageMove() {

          var loadRequestInfo = {
            board_id : board_id,
            page : $(this).data("page")
          };

          $.ajax({
            url: '/comment/list',
            method: 'get',
            data: loadRequestInfo,
            success: function () {
              console.log("페이지 이동 성공");
            }
          })
          .done(function (fragment){
            $('#all-comment').replaceWith(fragment);
          });
        }

        $(document).on("click", ".comment-page-number", pageMove)

        // 이전 페이지
        function prevMove() {
          var loadRequestInfo = {
            board_id : board_id,
            page : [[${commentResult.start - 1}]]
          };

          $.ajax({
            url: '/comment/list',
            method: 'get',
            data: loadRequestInfo,
            success: function () {
              console.log("이전페이지 이동 성공");
            }
          })
          .done(function (fragment){
            $('#all-comment').replaceWith(fragment);
          });
        }

        $(document).on("click", "#comment-page-prev", prevMove)

        // 다음 페이지
        function nextMove() {
          var loadRequestInfo = {
            board_id : board_id,
            page : [[${commentResult.end + 1}]]
          };

          $.ajax({
            url: '/comment/list',
            method: 'get',
            data: loadRequestInfo,
            success: function () {
              console.log("다음페이지 이동 성공");
            }
          })
          .done(function (fragment){
            $('#all-comment').replaceWith(fragment);
          });
        }

        $(document).on("click", "#comment-page-next", nextMove)

      })
    </script>
  </th:block>
</body>
</html>