<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{|/users/list/${user.id}|}" method="post">
                <label for="name">아이디:</label>
                <input type="text" id="name" name="name" th:value="${user.name}" required><br>
                <label for="email">이메일:</label>
                <input type="text" id="email" name="email" th:value="${user.email}" required><br>


    <label for="grade">등급:</label>
    <select id="grade" name="grade" required>
        <option th:each="grade : ${grades}" th:value="${grade}" th:text="${grade}" th:selected="${grade == user.grade}"></option>
    </select><br>
                <label for="createdAt">가입일시:</label>
                <input type="text" id="createdAt" name="createdAt" th:value="${user.createdAt}" readonly><br>
                <input type="submit" value="저장">
            </form>
</body>
</html>