/* main section starts */
.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.main_container img {
    margin-bottom: 30px;
    width: 500px;
    height: 60px;
}

.main_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-error {
    border-color: #10221b;
    color: #10221b;
}

p {
    margin: 5px 0px; 0px;
    color: red;
}

.main_container form input {
    margin-top: 15px;
    width: 280px;
    height: 45px;
    font-size: 15px;
    padding-left: 10px;
    border: 1.5px solid black;
    box-sizing: border-box;
}

.main_container form select {
    margin-top: 15px;
    width: 280px;
    height: 40px;
    padding-left: 10px;
    border: 1.5px solid black;
    font-size: 15px;
    color: grey;
    box-sizing: border-box;
}

form button {
    margin-top: 25px;
    width: 140px;
    height: 45px;
    background-color: #424242;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.btn {
    margin-top: 10px;
    width: 140px;
    height: 45px;
    background-color: #424242;
    font-weight: 700;
    font-size: 16px;
    color: white;
}
/* main section ends */

/* footer section starts */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0px;
    height: 80px;
    background-color: #424242;
}

footer span {
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-left: 100px;
    margin-right: 100px;
}

footer img {
    position: fixed;
    right: 105px;
    bottom: 15px;
    width: 250px;
    height: 50px;
}
/* footer section ends */