body, html {
    padding: 0;
    margin: 0;
}

.main_container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10vh;
}

.main_container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


form input {
    margin-top: 15px;
    width: 280px;
    height: 45px;
    font-size: 15px;
    padding-left: 10px;
    border: 1.5px solid black;
    box-sizing: border-box;
}

form select {
    margin-top: 15px;
    width: 280px;
    height: 40px;
    padding-left: 10px;
    border: 1.5px solid black;
    margin-bottom: 5px;
    font-size: 15px;
    color: grey;
    box-sizing: border-box;
}

.error_message {
    margin: 5px 0px;
    color: red;
}

form button {
    margin-top: 25px;
    width: 140px;
    height: 45px;
    background-color: #424242;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.btn {
    margin-top: 10px;
    width: 140px;
    height: 45px;
    background-color: #424242;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.main_container img {
    margin-bottom: 30px;
    width: 500px;
    height: 60px;
}

/* footer section starts */
footer {
    display: flex;
    justify-content: center;
    background-color: #424242;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
}

footer div {
    display: flex;
    align-items: center;
    width: 1280px;
    max-width: 1920px;
}
footer span {
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-left: 580px;
    margin-right: 240px;
}

footer ul {
    display: flex;
    flex-direction: row;
    width: 250px;
    list-style-type: none;
}

footer li {
    margin-left: 15px;
}

footer img {
    width: 50px;
    height: 50px;
}
/* footer section ends */