body, html {
    margin: 0;
    padding: 0;
}

header, footer {
    display: flex;
    justify-content: center;
    background-color: #424242;
    width: 100%;
    height: 80px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    max-width: 1920px;
}

header img {
    width: 150px;
    height: 70px;
}

header nav a {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 18px;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
}

article {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    border: 1px solid grey;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    width: 550px;
    height: 350px;
}

article .wrap1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap1 > img:first-child {
     width: 150px;
     height: 150px;
     margin-top: 50px;
     margin-left: 20px;
}

.wrap1 span {
     margin-left: 15px;
     margin-bottom: 30px;
}

.wrap1 > img:last-child {
    width: 235px;
    height: 35px;
    margin-left: 10px;
}

article .wrap2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article .wrap2 span {
    margin-top: 10px;
    font-weight: 600;
    font-size: 17px;
}

article .wrap2 hr {
    border: 1px solid black;
    width: 130px;
    margin-top: 5px;
    margin-bottom: 10px;
}

article .wrap2 label {
    margin-bottom: 5px;
    margin-left: 3px;
    font-size: 14px;
}

article .wrap2 label:first-child {
    margin-top: 10px;
}

article .wrap2 form {
    display: flex;
    flex-direction: column;
}

p {
    margin: 5px 0;
    color: red;
    font-size: 14px;
}

.wrap2 input {
    width: 190px;
    height: 25px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 16px;
}

.wrap2 button {
    background-color: #424242;
    color: white;
    width: 60px;
    height: 35px;
    margin-top: 5px;
    margin-left: 147px;
}

/* footer section starts */
footer {
    position: fixed;
    bottom: 0;
}

footer div {
    display: flex;
    align-items: center;
    width: 1280px;
    max-width: 1920px;
}
footer span {
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-left: 580px;
    margin-right: 240px;
}

footer ul {
    display: flex;
    flex-direction: row;
    width: 250px;
    list-style-type: none;
}

footer li {
    margin-left: 15px;
}

footer img {
    width: 50px;
    height: 50px;
}
/* footer section ends */