/* header section starts */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #424242;
}

.header_wrap {
    max-width: 1920px;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    position: fixed;
    top: 5px;
    left: 200px;
    width: 150px;
    height: 70px;
}

header nav {
    margin-right: 100px;
}

header nav a {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 15px;
}
/* header section ends */

/* main section starts */
.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13vh;
    width: 100%;
}

.edit_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    width: 700px;
    height: 450px;
    margin-top: 35px;
}

.edit_form div {
    display: flex;
    flex-direction: column;
}

.edit_form .wrap1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}

.wrap1 span {
    margin-bottom: 25px;
    margin-left: 15px;
}

.edit_form .wrap2 {
    margin-right: 80px;
}

.field-error {
    border-color: #10221b;
    color: #10221b;
}

.edit_form .wrap2 label {
    display: block;
    margin-bottom: 5px;
}

.edit_form .wrap2 label:first-child {
    margin-top: 10px;
}

.edit_form .wrap2 input {
    width: 190px;
    height: 25px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 16px;
}

.wrap2 span {
    font-size: 20px;
    margin-left: 40px;
}

.wrap2 hr {
    border-top: 2px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 150px;
}

p {
    margin: 5px 0;
    color: red;
    font-size: 14px;
}

.editBtn {
    background-color: #424242;
    color: white;
    width: 60px;
    height: 35px;
    margin-top: 5px;
    margin-left: 147px;
}

.wrap1 > img:first-child {
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.wrap1 > img:last-child {
    width: 235px;
    height: 35px;
    margin-left: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.wrap1, .wrap2 {
    position: relative;
}

.wrap1 i, .wrap2 i {
    position: absolute;
}

/* main section ends */


/* footer section starts */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0px;
    height: 80px;
    background-color: #424242;
}

footer span {
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-left: 100px;
    margin-right: 100px;
}

footer img {
    position: fixed;
    right: 105px;
    bottom: 15px;
    width: 250px;
    height: 50px;
}
/* footer section ends */