body, html {
    padding: 0;
    margin: 0;
}

.main_container {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    width: 100%;
}

.main_container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_img {
    width: 500px;
    height: 60px;
    margin-bottom: 50px;
}

.main_container div form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    width: 310px;
}

form div {
    position: relative;
}

form img {
    position: absolute;
    top: 0;
    left: 0;
    width: 53px;
    height: 53px;
}

form input {
    width: 245px;
    height: 50px;
    padding: 0 0 0 60px;
    font-size: 16px;
    margin-bottom: 15px;
}

form a {
    color: #424242;
    margin-left: 140px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 14px;
}

.error_message {
    margin-top: 0;
    color: red;
}

form button {
    width: 145px;
    height: 45px;
    background-color: #424242;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

/* footer section starts */
footer {
    display: flex;
    justify-content: center;
    background-color: #424242;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
}

footer div {
    display: flex;
    align-items: center;
    width: 1280px;
    max-width: 1920px;
}
footer span {
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-left: 580px;
    margin-right: 240px;
}

footer ul {
    display: flex;
    flex-direction: row;
    width: 250px;
    list-style-type: none;
}

footer li {
    margin-left: 15px;
}

footer img {
    width: 50px;
    height: 50px;
}
/* footer section ends */