<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>롤 정보 커뮤니티</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<!--TODO : 헤더, 푸터 공통 영역 Partial View 처리-->
<section class="p-5 mb-5 bg-light">
    <h1 class="mb-3" th:text="${boardType.equals('REPORT') ? '신고게시판' : '자유게시판'}"></h1>
</section>

<section class="container">
        <section class="btn-area">
            <select th:name="categories" id="category-box">
                <option value="">전체</option>
                <option th:each="category : ${categories}"
                        th:value="${category?.id}"
                        th:utext="${category?.name}">
                </option>
            </select>
            <label for="search-txt"></label>
            <input type="text" id="search-txt" placeholder="제목+내용">
            <button class="btn-info" th:onclick="|location.href='@{/board/new/{boardType}(boardType=${boardType.toLowerCase()})}'|">글쓰기</button>
        </section>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    <th scope="col">조회수</th>
                    <th scope="col">추천수</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="article, list:${articles}">
                    <td th:text="${list.index+1}"></td>
                    <td><a th:href="@{/board/(id=${article.id})}" th:text="${article.title}"></a></td>
                    <td th:text="${article.writer}"></td>
                    <!--TODO 당일 여부 조건에 따른 포맷팅 변환 처리-->
                    <td th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${article.viewCount}"></td>
                    <td th:text="${article.likeCount}"></td>
                </tr>
            </tbody>
        </table>
        <nav th:if="${!articles.isEmpty()}">
            <ul class="pagination justify-content-center"
                th:with="
            pageNumber = ${articles.pageable.pageNumber},
            pageSize = ${articles.pageable.pageSize},
            totalPages = ${articles.totalPages},
            startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
            tempEndPage = ${startPage + pageSize - 1},
            endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})">

                <li th:classappend="${articles.first} ? 'disabled'" class="page-item">
                    <a class="page-link"
                         href = "#"
                         th:href="@{${articles.first ? '#' : '/board(page=${pageNumber - 1})'}}">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{/board/(page=${page - 1})}"></a>
                </li>

                <li th:classappend="${articles.last} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{${articles.last ? '#' : '/board(page=${pageNumber - 1})'}}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</body>
</html>