<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:insert="~{/layout/head::headFragment}"></th:block>
<body>
<th:block th:insert="~{/layout/header::headerFragment}"></th:block>
<main>
    <section class="p-5 mb-5 bg-light">
        <h1 class="mb-3" th:text="${boardType.equals('REPORT') ? '신고게시판' : '자유게시판'}"></h1>
    </section>
    <section class="container">
        <section class="btn-area">
            <form th:action="@{/board/{boardType}(boardType=${boardType.toLowerCase()})}" method="get" role="search">
                <select id="category-box"
                        th:name="categories">
                    <option value="0">전체 유형</option>
                    <option th:each="category : ${categories}"
                            th:value="${category?.id}"
                            th:utext="${category?.name}"
                            th:selected="${selectedType['category'] == category?.id}">
                    </option>
                </select>
                <select th:if="${boardType.equals('FREE')}" th:name="grades">
                    <option value="0">전체 등급</option>
                    <option th:each="grade : ${grades}"
                            th:value="${grade?.getId()}"
                            th:utext="${grade?.getName()}"
                            th:selected="${selectedType['grade'] == category?.id}"
                    ></option>
                </select>
                <label for="search"></label>
                <div class="input-group">
                    <input type="text" id="search" name="keyword"  placeholder="검색어를 입력하세요." >
                    <button class="btn-search">
                        <!--TODO 아이콘 변경-->
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </div>
            </form>
            <button class="btn-dark float-right"
                    th:onclick="|location.href='@{/board/new/{boardType}(boardType=${boardType.toLowerCase()})}'|">
                글쓰기
            </button>
        </section>
        <table class="table table-hover table-border" style="text-align: center">
            <thead class="table-dark">
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">조회수</th>
                <th scope="col">추천수</th>
            </tr>
            </thead>
            <tbody class="table-group-divider center">
            <tr th:if="${articles.isEmpty()}" class="table-active">
                <td colspan='6' style="text-align: center">게시글 목록이 존재하지 않습니다.</td>
            </tr>
            <tr th:each="article, list:${articles}">
                <td th:text="${list.index+1}"></td>
                <td style="text-align: left"><a th:href="@{/board/(id=${article.id})}" th:text="${article.title}"></a></td>
                <td th:text="${article.writer}"></td>
                <!--TODO 당일 여부 조건에 따른 포맷팅 변환 처리-->
                <td th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${article.viewCount}"></td>
                <td th:text="${article.likeCount}"></td>
            </tr>
            </tbody>
        </table>
        <nav th:if="${!articles.isEmpty()}">
            <ul class="pagination justify-content-center"
                th:with="
            pageNumber = ${articles.pageable.pageNumber},
            pageSize = ${articles.pageable.pageSize},
            totalPages = ${articles.totalPages},
            startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
            tempEndPage = ${startPage + pageSize - 1},
            endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})">

                <li th:classappend="${articles.first} ? 'disabled'" class="page-item">
                    <a class="page-link"
                       th:href="${articles.first} ? '#' : '/board/' + ${boardType.toLowerCase()} + '?page=' + ${pageNumber - 1}">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{'/board/' + ${boardType.toLowerCase()} + '?page=' + ${page - 1}}"></a>
                </li>
                <li th:classappend="${articles.last} ? 'disabled'" class="page-item" >
                    <a class="page-link" th:href="${articles.last} ? '#' : '/board/' + ${boardType.toLowerCase()} + '?page=' + ${pageNumber + 1}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</main>
    <th:block th:insert="~{/layout/footer::footerFragment}"></th:block>
</body>
</html>