<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>롤 정보 공유 커뮤니티</title>
    <link rel="stylesheet" th:href="@{../css/main.css}">
</head>
<body>
<th:block th:insert="~{/layout/header::headerFragment}"></th:block>
<main>
    <section class="img_section"></section>
    <section class="board_wrap" th:each="viewData : ${mainViewData}">
        <h2>자유 게시판</h2>
        <article class="view_top" th:if="${viewData.key} == orderByViewCount">
            <div>
                <h2>조회수 TOP 3</h2>
                <a><img th:src="@{/img/plus.png}"></a>
            </div>
            <div th:each="data : ${viewData.getValue()}">
                <h2 th:text="${data.getTitle()}" th:href="@{'/board/free/' + ${data.getBoardId()}}"></h2>
                <span th:text="${data.getWriter()}"></span>
            </div>
        </article>
        <article class="comment_top" th:if="${viewData.key} == orderByCommentCount">
            <div>
                <h2>댓글수 TOP 3</h2>
                <a><img th:src="@{/img/plus.png}"></a>
            </div>
            <div th:each="data : ${viewData.getValue()}">
                <h2 th:text="${data.getTitle()}" th:href="@{'/board/free/' + ${data.getBoardId()}}"></h2>
                <span th:text="${data.getWriter()}"></span>
            </div>
        </article>
        <article class="likes_top" th:if="${viewData.key} == orderByLikeCount">
            <div>
                <h2>좋아요 수 TOP 3</h2>
                <a><img th:src="@{/img/plus.png}"></a>
            </div>
            <div th:each="data : ${viewData.getValue()}">
                <h2 th:text="${data.getTitle()}" th:href="@{'/board/free/' + ${data.getBoardId()}}"></h2>
                <span th:text="${data.getWriter()}"></span>
            </div>
        </article>
    </section>
</main>
<footer th:replace="~{/layout/footer::footerFragment}"></footer>
</body>
</html>