<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>롤 정보 공유 커뮤니티</title>
    <link rel="stylesheet" th:href="@{../css/main.css}">
</head>
<body>
<th:block th:insert="~{/layout/header::headerFragment}"></th:block>
<main>
    <section class="img_section"></section>
    <section class="board_wrap">
        <article th:each="viewData : ${mainViewData}">
            <div th:if="${viewData.key} == orderByViewCount" class="div_wrap">
                <div>
                    <h2>조회수 TOP 3</h2>
                    <a><img th:src="@{/img/plus.png}" alt="plus_img" class="plus_img"></a>
                </div>
                <div th:each="data : ${viewData.getValue()}">
                    <h2 th:text="${data.getTitle()}" th:href="@{'/board/free/' + ${data.getBoardId()}}"></h2>
                    <span th:text="${data.getWriter()} + '(자유게시판)'"></span>
                </div>
            </div>
            <div th:if="${viewData.key} == orderByCommentCount" class="div_wrap">
                <div>
                    <h2>조회수 TOP 3</h2>
                    <a><img th:src="@{/img/plus.png}" alt="plus_img"></a>
                </div>
                <div th:each="data : ${viewData.getValue()}">
                    <h2 th:text="${data.getTitle()}" th:href="@{'/board/free/' + ${data.getBoardId()}}"></h2>
                    <span th:text="${data.getWriter()} + '(자유게시판)'"></span>
                </div>
            </div>
            <div th:if="${viewData.key} == orderByLikeCount" class="div_wrap">
                <div>
                    <h2>조회수 TOP 3</h2>
                    <a><img th:src="@{/img/plus.png}" alt="plus_img"></a>
                </div>
                <div th:each="data : ${viewData.getValue()}">
                    <h2 th:text="${data.getTitle()}" th:href="@{'/board/free/' + ${data.getBoardId()}}"></h2>
                    <span th:text="${data.getWriter()} + '(자유게시판)'"></span>
                </div>
            </div>
        </article>
    </section>
</main>
<footer th:replace="~{/layout/footer::footerFragment}"></footer>
</body>
</html>