<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>롤 정보 공유 커뮤니티</title>
    <link rel="stylesheet" th:href="@{../css/main.css}">
</head>
<body>
<th:block th:insert="~{/layout/header::headerFragment}"></th:block>
<main>
    <section class="intro-main">
        <img th:src="@{/img/banner.png}">
    </section>
    <section class="card-main board_wrap">
        <h2>자유 게시판</h2>
        <article class="card text-white bg-secondary mb-3"
                 style="max-width: 18rem;"
                 th:each="viewData : ${mainViewData}">
            <article class="card-header col"
                     th:switch="${viewData.key}">
                <th:block th:case="orderByViewCount" >조회 수 Top3</th:block>
                <th:block th:case="orderByCommentCount" >댓글 수 Top3</th:block>
                <th:block th:case="orderByLikeCount" >추천 수 Top3</th:block>
                <button class="btn-link-board" th:href="@{/board/main}">
                    <img th:src="@{/img/plus.png}">
                </button>
            </article>
            <article class="card-body" th:each="data : ${viewData.getValue()}">
                <h3 class="card-title" th:text="${data.getTitle()}" th:href="@{'/board/free/' + ${data.getBoardId()}}"></h3>
                <p class="card-text" th:text="${data.getWriter()}"></p>
                <span class="card-text" th:text="${data.getTotalCount()}"></span>
            </article>
        </article>
    </section>
</main>
<footer th:replace="~{/layout/footer::footerFragment}"></footer>
</body>
</html>