<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>롤 정보 공유 커뮤니티</title>
    <link rel="stylesheet" th:href="@{/css/loginForm.css}">
</head>
<body>
    <main class="main_container">
        <div>
            <img th:src="@{/img/logo.png}" alt="" class="logo_img">
            <form th:action th:object="${loginForm}" method="post">
                <div>
                    <img th:src="@{/img/user_img.png}" alt="">
                    <input type="text" th:field="*{name}" placeholder="아이디">
                </div>
                <div>
                    <img th:src="@{/img/lock_img.png}" alt="">
                    <input type="password" th:field="*{password}" placeholder="패스워드">
                </div>
                <a th:href="@{/users/add}">Not a member? 회원가입</a>
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="error_message">전체 오류 메시지</p>
                </div>
                <button type="submit">로그인</button>
            </form>
        </div>
    </main>
    <div th:replace="~{/layout/footer::footerFragment}"></div>
</body>
</html>